@import 'nib'
@import 'lib/*'
@import 'components/*'

global-reset()

html
body
    margin 0
    padding 0
    color $color1
    font-family $font
    background $color2

@import 'header'
@import 'content'
@import 'footer'
